@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Open+Sans:wght@400;600&family=Playfair+Display:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
    height: 100%;
    background-image: url('./assets/hills.jpeg'); /* was cloud.jpg */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @apply text-white;
}