@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Open+Sans:wght@400;600&family=Playfair+Display:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* desktop view */
@media screen and (max-width: 2000px) {
  html,
  body,
  #root,
  .app {
    height: 100%;
    background-image: url('./assets/hills.jpeg'); 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
  }
}

/* mobile view */
@media screen and (max-width: 680px) {
  html,
  body,
  #root,
  .app {
    height: 100%;
    background-image: none;
    background-color: #03233a;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color:white;
  }
  #projects, #skills {
    padding-top: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}